$chart-width: 650px;
$chart-height: 300px;
$grid-color: #aaa;
$bar-color: #F16335;
$bar-thickness: 50px;
$bar-rounded: 3px;
$bar-spacing: 30px;

.chart-wrap {
    margin-left: 50px;
    // font-family: "Nishiki-teli-lili";
    height: $chart-width;
    width: $chart-height;

    .title {
        font-weight: bold;
        font-size: 3rem;
        padding: 5rem;
        text-align: center;
        white-space: nowrap; // what is this?
    }

    &.vertical {
        .grid {
            transform: translateY($chart-height / 2 - $chart-width / 2) translateX($chart-width / 2 - $chart-height / 2) rotate(-90deg);

            .bar::after {
                transform: translateY(-50%) rotate(90deg);
                display: block;
            }

            .top {
                transform: translateX(3rem) translateY(-2rem) rotate(90deg);
                // transform:  rotate(90deg);
            }
            .bottom {
                transform: translateY(-2rem) rotate(90deg);
                // transform:  rotate(90deg);
            }
        }
    }

    .grid {
        position: relative; // Why need this?
        padding: 5px 0;
        height: 100%;
        width: 100%;
        border-left: 2px solid $grid-color; // the bottom line in vertical mode
        // simulate grid lines
        background: repeating-linear-gradient(90deg, transparent, transparent 19.5%, rgba(170, 170, 170, 0.7) 20%); // Approximation of fadeout

        .bottom {
            font-size: 0.8em;
            font-weight: bold;
            // content: '0%';
            position: absolute;
            left: -0.5em;
            top: -1.5em;
        }

        .top {
            font-size: 0.8em;
            font-weight: bold;
            // content: '100%';
            position: absolute;
            right: -1.5em;
            top: -1.5em;
        }
    }

    .bar {
        width: var(--bar-value);
        height: $bar-thickness;
        margin: $bar-spacing 0;
        background-color: $bar-color;
        // border-radius: 0 $bar-rounded $bar-rounded 0;

        &:hover {
            opacity: 0.7;
        }

        &::after {
            content: attr(data-name);
            margin-left: 100%;
            padding: 10px;
            display: inline-block;
            white-space: nowrap;
        }
    }
}