.status{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    // align-content: center;
    align-items: center;
    gap: 1rem;
}
.status-labels{
    font-family: var(--code-font-family);
}
.level-tag{
    background-color: aquamarine;
    border-radius: 0.25rem;
}
