.clock {
  display: flex;
  align-items: center;
  font-size: 3rem;
  text-align: center;
//   padding: 0.5rem 2rem;
  background-color: rgb(201, 230, 255);
  border-radius: 10rem;
  height: 20rem;
  width: 20rem;
}

.clock-face{
  display: block;
  background-color: red;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
}