/* This is for my vocab tag list in my sandbox */
/* Modified from https://www.w3schools.com/howto/howto_js_filter_elements.asp */

.vocab-item-container {
  overflow: hidden;
  border: var(--accent-color-darker);
  display: none;
  border-style: solid;
  margin: 1rem;
  div{
    display: flex;
    padding: 10px 10px;
    margin: 2px;
  }
}

.vocab-item {
  display: flex;
  // background-color: #7B7B7B;
  // color: #ffffff;
	font-size: 2.6rem;
  text-align: center;
  padding: 10px 10px;
  margin: 2px;
  // display: none; /* Hidden by default */

  div{
    font-size: 1.6rem;
    font-style: italic;
  }
}

/* The "show" class is added to the filtered elements */
.show {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // width: 15rem;
  // height: 6rem;
  // justify-content: center;
}

/* Style the tag buttons */
/* inspired by https://marcjenkins.co.uk/bookshelf/*/
.vocab-button {
  display: inline-block;
	font-size: 1.5rem;
  // align-items: center;
  // width: 17rem;
  // height: 5rem;
  justify-content: center;
  border: none;
  outline: none;
  background-color: #f1f1f1;
  cursor: pointer;
	border-radius: 30px;
	text-decoration: none;
	background: var(--card-background-selected);
	padding: 0.2rem 0.5rem;
  color: var(--card-text-color-main);
	&:hover {
		text-decoration: none;
    background-color: #ddd;
		color: var(--card-text-color-main);
		box-shadow: none;
	}
}



/* Add a dark background to the active button */
.vocab-button.active{
  background-color: #141D56;
  color: white;
}
