/* This is for my vocab tag list in my sandbox */
/* Modified from https://www.w3schools.com/howto/howto_js_filter_elements.asp */

.vocab-item-container {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.vocab-item {
  background-color: #490448;
  color: #ffffff;
  text-align: center;
  padding: 20px 30px;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: inline-flex;
  align-items: center;
  width: 15rem;
  height: 6rem;
  justify-content: center;
}

/* Style the buttons */
.vocab-button {
  display: inline-block;
  // align-items: center;
  width: 17rem;
  height: 5rem;
  justify-content: center;
  // border: none;
  // outline: none;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.vocab-button:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.vocab-button.active{
  background-color: #141D56;
  color: white;
}