<div class="progress-bar-status">
    <div class="status-labels">
        <span>{{ .Get `title`}}:</span>
        <span class="progress-bar-count">0/100</span>
        <span>---</span>
        <span class="progress-bar-level">Lv0</span>
    </div>
   <div class="progress-bar">
        {{/*  <div class="progress-experience" style="width: {{ .Get `percentage`}}" role="progressbar">  */}}
        <div class="progress-bar-experience" style="width: 0%" role="progressbar">
        </div>
    </div>
</div>