{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    <section class="article-list">
        {{ range $index, $element := $pag.Pages.ByLastmod.Reverse }}
            {{ $image := partialCached "helper/image" (dict "Context" . "Type" "articleList") .RelPermalink "articleList" }}
            <article class="{{ if $image.exists }}has-image{{ end }}">
                {{ partial "article-header" . }}
            </article>
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "right-sidebar.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}