{{ define "head" }}
    <title>My Clock</title>
    <style>
      #clock {
        font-size: 3em;
        text-align: center;
        margin-top: 50px;
        background-color: rgb(71, 169, 255);
      }
    </style>
{{ end }}
{{ define "main" }}
    <div id="clock"></div>
    {{ .Content }}
    <script>
      function displayTime() {
        var date = new Date();
        var time = date.toLocaleTimeString();
        document.getElementById("clock").innerHTML = time;
      }
      setInterval(displayTime, 1000);
    </script>
{{ end }}