.thumbnail-experience{
    display: flex;
    background-color: var(--bar-background);
    width: 48rem;
    overflow: hidden;
    border-radius: 0.5rem;
    height: 2rem;
    background-image:repeating-linear-gradient(
        135deg,
        rgba(197, 197, 219, 0.2) 0 ,
        rgba(197, 197, 219, 0.2) 1rem ,
        transparent 2.5rem
    );
}
.thumbnail-wrapper{
    display: flex;
    overflow: hidden;
    width: 48rem;
    border-radius: 0.5rem;
    height: 2rem;
}
.thumbnail{
    display: flex;
    line-height: 0;
    width: 2rem;
    height: 100%;
}


.status-bar-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width : 100rem;
    gap: 1rem;
    margin: 3rem;
    align-items: left;

    @include respond(sm) {
        flex-direction: column;
    }
    @include respond(md) {
        flex-direction: column;
    }
    @include respond(lg) {
        flex-direction: row;
        gap: 1rem;
        margin: 1rem;
        justify-content: left;
        align-items: center;
    }
    @include respond(xl) {
        flex-direction: row;
        gap: 1rem;
        margin: 1rem;
        justify-content: left;
        align-items: center;
    }

}

.badges-wrapper{
   display: flex; 
   width: 30rem;
   gap: 1rem;
}

.level-badge{
    display: flex;
    width: 5rem;
    justify-content: center;
    background-color: darkorange;
    border-radius: 0.5rem;
}

.skill-title{
    display: flex;
    align-self: left;
    justify-content: center;
    width: 10rem;
    background-color: var(--title);
    border-radius: 0.5rem;
}

.experience{
    display: flex;
    justify-content: center;
    --background-color: bisque;
    background-color: var(--experience);
    width: 8rem;
    border-radius: 0.5rem;
}