.thumbnail-experience{
    display: flex;
    background-color: var(--bar-background);
    width: 48rem;
    overflow: hidden;
    border-radius: 0.5rem;
    height: 2rem;
}
.thumbnail-wrapper{
    display: flex;
    overflow: hidden;
    width: 48rem;
    border-radius: 0.5rem;
    height: 2rem;
}
.thumbnail{
    display: flex;
    line-height: 0;
    width: 2rem;
    height: 100%;
}


.status-bar-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width : 100rem;
    gap: 6rem;
    margin: 1rem;
}

.level-badge{
    display: flex;
    width: 5rem;
    justify-content: center;
    background-color: darkorange;
    border-radius: 0.5rem;
}

.skill-title{
    display: flex;
    align-self: left;
    justify-content: center;
    width: 10rem;
    background-color: var(--title);
    border-radius: 0.5rem;
}

.experience{
    display: flex;
    justify-content: center;
    --background-color: bisque;
    background-color: var(--experience);
    width: 8rem;
}